body {
    margin: 0;
    background-color: rgb(172, 217, 223);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';
    grid-gap: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    background-color: rgb(19, 99, 204);
    grid-area: blue;
    border-bottom-right-radius: 100%;
}

.yellow {
    background-color: yellow;
    grid-area: yellow;
    border-bottom-left-radius: 100%;
}

.red {
    background-color: red;
    grid-area: red;
    border-top-right-radius: 100%;
}

.green {
    background-color: green;
    grid-area: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.3;
}